.cardOne {
  min-height: 153px;
  border: 3px solid #b72c6c;
  position: relative;
  background-color: #280f3d;
  cursor: pointer;
}

.cardOne-left {
  border-left: 10px solid #b72c6c;
}

.cardOne-left p {
  margin-right: 1.2rem;
  word-wrap: break-word;
}

.cardOne-right {
  border-right: 10px solid #b72c6c;
  margin-left: auto;
}

.cardOne-right .cardOne-content{
  text-align: right;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%; /* Adjust as needed */
}
.cardOne-right .truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 55px;
  max-width: 90%; /* Adjust as needed */
}

.cardOne-content-wrap-right {
  margin-left: auto;
}

.cardOne-title {
  font-size: 1.5rem;
  color: #b72c6c;
}

.cardOne-btn {
  background-color: #b72c6c;
  color: #280f3d;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  border: 0;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.cardOne-image {
  background-color: #130421;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardOne-image-left {
  border-left: 4px solid #b72c6c;
  right: 0;
  transform: translateX(50%) translateY(-50%);
}

.cardOne-image-right {
  border-right: 4px solid #b72c6c;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}

.cardOne-image img {
  height: 100%;
  width: 100%;
  border: 3px solid #b72c6c;
  border-radius: 50%;
}

.read-more {
  cursor: pointer;
  color: #b72c6c;
}

